body {
    font-family: Arial;
    padding: 20px;
}

input, select {
    display: block;
    margin: 6px 0;
    padding: 6px;
}

button {
    padding: 6px 14px;
}

table {
    margin-top: 20px;
    border-collapse: collapse;
}

td, th {
    border: 1px solid #ccc;
    padding: 8px;
}
